<div>
  <div class="data-list-view">
    <!---->
    <!-- Header Area -->
    <!---->
    <div class="header">
      <!-- Filter button -->
      <div>
        <button pButton type="button" icon="pi pi-filter"></button>
      </div>

      <!-- Text search input. -->
      <div>
        <span [class.p-input-icon-left]="inputSearchText === ''" [class.p-input-icon-right]="inputSearchText !== ''">
          <i class="pi" [class.pi-search]="inputSearchText === ''" [class.pi-times]="inputSearchText !== ''" (click)="inputSearchText = ''"></i>
          <input type="text" pInputText [(ngModel)]="inputSearchText" placeholder="Search" />
        </span>
      </div>

      <!-- Layout mode switch. -->
      <div>
        <span class="p-buttonset">
          <button pButton type="button" icon="pi pi-list" [class.p-button-outlined]="!isListLayout" (click)="isListLayout = true"></button>
          <button pButton type="button" icon="pi pi-th-large" [class.p-button-outlined]="isListLayout" (click)="isListLayout = false"></button>
        </span>
      </div>
    </div>
    <div class="content">
      <div *ngFor="let i of paginator.rowIndexes" class="item">
        <div>
          <img [id]="'Thumb_' + i" />
        </div>
        <div>
          <div>{{ characters[filteredIndexes[i]].name }}</div>
          <div>★{{ characters[filteredIndexes[i]].rarerity }}</div>
        </div>
      </div>
    </div>
    <div class="footer">Paginator</div>
  </div>
  <!--
    <p-dataView #ListCharacter_DataView [value]="characters" [rows]="4" filterBy="name" [paginator]="true" layout="list">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <i class="pi pi-filter"></i>
          <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
          </span>
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </ng-template>
      <ng-template let-character pTemplate="listItem">
        <div class="col-12 flex">
          <img [id]="'Thumb_' + character.index" />
          <div>
            <div>{{ character.name }} ({{ character.index }})</div>
            <div>★{{ character.rarerity }}</div>
          </div>
        </div>
      </ng-template>
      <ng-template let-character pTemplate="gridItem">
        <div>
          <div>
            <div>
              <div>{{ character.name }} ({{ character.index }})</div>
              <div>★{{ character.rarerity }}</div>
              <img [id]="'Thumb_' + character.index" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>-->
</div>
