.data-list-view {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);  // 160px: Thumbnail image size.
    gap: 0.5rem;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: cyan;

    img {
      border-radius: 1rem;
    }
  }

  .item {
  }

  .footer {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

:host ::ng-deep .paginator.p-paginator {
  .p-paginator-page {
    border-radius: 50%; // Circle.
  }

  .p-paginator-first {
    border-radius: 50%;
  }

  .p-paginator-prev {
    border-radius: 50%;
  }

  .p-paginator-next {
    border-radius: 50%;
  }

  .p-paginator-last {
    border-radius: 50%;
  }
}
