<!-- Form -->
<form #newCharacterForm="ngForm">
  <!---->
  <!-- This form is made on the one big card. -->
  <!---->
  <p-card>
    <!---->
    <!-- Form group: Character Type -->
    <!---->
    <div class="field">
      <label for="newCharacterFormCharacterTypeInput">キャラクタータイプ</label>
      <p-dropdown
        id="newCharacterFormCharacterTypeInput"
        name="newCharacterFormCharacterTypeInput"
        [options]="characterTypeItems"
        optionLabel="longName"
        [(ngModel)]="selectedCharacterType"
        [style]="{ width: '100%' }"
        (onChange)="onCharacterTypeChanged()"
      ></p-dropdown>
    </div>

    <!---->
    <!-- Form group: Character Name -->
    <!---->
    <div class="field">
      <label for="newCharacterFormCharacterNameInput">名前</label>
      <div>
        <span class="p-input-icon-right" [style]="{ width: '100%' }">
          <i *ngIf="characterName !== ''" class="pi pi-times" (click)="characterName = ''"></i>
          <input
            type="text"
            pInputText
            id="newCharacterFormCharacterNameInput"
            name="newCharacterFormCharacterNameInput"
            [(ngModel)]="characterName"
            [required]="true"
            [style]="{ width: '100%' }"
          />
        </span>
      </div>
    </div>

    <!---->
    <!-- Form group: Rarerity -->
    <!---->
    <label>レアリティ</label>
    <div class="formgroup-inline">
      <div *ngFor="let rarerityItem of rarerityItems" class="field-checkbox">
        <p-radioButton [inputId]="rarerityItem.name" name="rarerity" [value]="rarerityItem" [(ngModel)]="selectedRarerity"></p-radioButton>
        <label [for]="rarerityItem.name">{{ rarerityItem.name }}</label>
      </div>
    </div>

    <!---->
    <!-- Form group: Weapon Type -->
    <!---->
    <label>武器種</label>
    <div class="formgroup-inline">
      <div *ngFor="let weaponTypeItem of weaponTypeItems" class="field-checkbox">
        <p-radioButton [inputId]="weaponTypeItem.name" name="weaponType" [value]="weaponTypeItem" [(ngModel)]="selectedWeaponType"></p-radioButton>
        <label [for]="weaponTypeItem.id">{{ weaponTypeItem.name }}</label>
      </div>
    </div>

    <!---->
    <!-- Form group: Geograph Types -->
    <!---->
    <label>地形属性</label>
    <div class="formgroup-inline">
      <div *ngFor="let item of geographTypes" class="field-checkbox">
        <p-checkbox name="geographType" value="geographType" [value]="item" [(ngModel)]="selectedGeographTypes" [inputId]="item.id"></p-checkbox>
        <label [for]="item.id">{{ item.name }}</label>
      </div>
    </div>

    <!---->
    <!-- Form group: Reagion -->
    <!---->
    <div *ngIf="selectedCharacterType.hasRegion">
      <label>地域</label>
      <div class="formgroup-inline">
        <div *ngFor="let region of regions" class="field-checkbox">
          <p-radioButton [inputId]="region.name" name="region" [value]="region" [(ngModel)]="selectedRegion"></p-radioButton>
          <label [for]="region.id">{{ region.name }}</label>
        </div>
      </div>
    </div>

    <!---->
    <!-- Form group: Cost and Cost (kai) -->
    <!---->
    <div class="formgrid grid" *ngIf="!selectedCharacterType.isCostCalcEnable">
      <div class="field col">
        <label for="costInput">基本消費気</label>
        <div>
          <p-inputNumber [(ngModel)]="characterCost" mode="decimal" [showButtons]="true" inputId="costInput" name="costInput" [min]="0" [max]="99">
          </p-inputNumber>
        </div>
      </div>
      <div class="field col" *ngIf="selectedCharacterType.isKaichikuEnable">
        <label for="costInput_kai">基本消費気(改壱)</label>
        <div>
          <p-inputNumber [(ngModel)]="characterCost_kai" mode="decimal" [showButtons]="true" inputId="costInput_kai" name="costInput_kai" [min]="0" [max]="99">
          </p-inputNumber>
        </div>
      </div>
    </div>

    <!---->
    <!-- Confirm Button -->
    <!---->
    <button
      pButton
      type="button"
      label="入力内容確認"
      [disabled]="
        !newCharacterForm.form.valid ||
        !selectedRarerity ||
        !selectedWeaponType ||
        selectedGeographTypes.length === 0 ||
        (selectedCharacterType.hasRegion && !selectedRegion)
      "
      (click)="onConfirmButtonClick()"
    ></button>
  </p-card>
</form>
