<form [style]="{ 'max-width': maxWidth, 'margin-bottom': '1rem' }">
  <!------------------------------------------------------------------------->
  <!-- BASIC INFORMATION ---------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="formgrid grid">
    <div class="col">
      <p-divider align="center"><span>基本情報</span></p-divider>
    </div>
  </div>

  <!---->
  <!-- Character type & name -->
  <!---->
  <div class="formgrid grid" style="margin-bottom: 1rem">
    <div class="field col-12 md:col-6">
      <label for="NewCharacterForm_CharacterTypeInput">キャラクタータイプ</label>
      <p-dropdown
        id="NewCharacterForm_CharacterTypeInput"
        name="NewCharacterForm_CharacterTypeInput"
        [(ngModel)]="selectedCharacterType"
        [options]="characterTypes"
        optionLabel="name"
        [style]="{ width: '100%' }"
        (onChange)="onCharacterTypeChanged()"
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-6" *ngIf="selectedCharacterType.subTypes">
      <label for="NewCharacterForm_SubCharacterTypeInput">サブキャラクタータイプ</label>
      <p-dropdown
        id="NewCharacterForm_SubCharacterTypeInput"
        name="NewCharacterForm_SubCharacterTypeInput"
        [(ngModel)]="selectedSubCharacterType"
        [options]="selectedCharacterType.subTypes"
        optionLabel="name"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <label for="NewCharacterForm_CharacterNameInput">名前</label>
      <span class="p-input-icon-right" [style]="{ width: '100%' }">
        <i *ngIf="inputCharacterName !== ''" class="pi pi-times" (click)="inputCharacterName = ''"></i>
        <input
          type="text"
          id="NewCharacterForm_CharacterNameInput"
          name="NewCharacterForm_CharacterNameInput"
          [(ngModel)]="inputCharacterName"
          pInputText
          [required]="true"
          [style]="{ width: '100%' }"
        />
      </span>
    </div>
  </div>

  <!---->
  <!-- Character rarerity -->
  <!---->
  <div class="formgrid">
    <div class="field col">
      <label>レアリティ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of rarerityItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_RarerityInput_' + item.toString()"
            name="NewCharacterForm_RarerityInput_"
            [value]="item"
            [(ngModel)]="selectedRarerity"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_RarerityInput_' + item.toString()">★{{ item }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Weapon type -->
  <!---->
  <div class="formgrid grid">
    <div class="field col">
      <label>武器タイプ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of weaponTypeItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_WeaponTypeInput_' + item.name"
            name="NewCharacterForm_WeaponTypeInput"
            [value]="item"
            [(ngModel)]="selectedWeaponType"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_WeaponTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Geograph type -->
  <!---->
  <div class="formgrid grid">
    <div class="field col">
      <label>地形属性</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of geographTypeItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'NewCharacterForm_GeographTypeInput_' + item.name"
            name="NewCharacterForm_GeographTypeInput"
            [value]="item"
            [(ngModel)]="selectedGeographTypes"
          ></p-checkbox>
          <label [for]="'NewCharacterForm_GeographTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Region -->
  <!---->
  <div class="formgrid grid" *ngIf="selectedCharacterType.regions">
    <div class="field col">
      <label>地域</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of regionItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_RegionInput_' + item.name"
            name="NewCharacterForm_RegionInput"
            [value]="item"
            [(ngModel)]="selectedRegion"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_RegionInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Character cost & kai -->
  <!---->
  <div class="formgrid grid" *ngIf="!selectedCharacterType.isCostCalcEnable">
    <div class="field col-12 md:col-6 p-fluid">
      <label for="NewCharacterForm_CharacterCostInput">基本消費気</label>
      <p-inputNumber
        inputId="NewCharacterForm_CharacterCostInput"
        name="NewCharacterForm_CharacterCostInput"
        [(ngModel)]="characterCost"
        mode="decimal"
        [showButtons]="true"
        [min]="0"
        [max]="99"
      >
      </p-inputNumber>
    </div>
    <div class="field col-12 md:col-6 p-fluid" *ngIf="selectedCharacterType.isKaichikuEnable">
      <label for="NewCharacterForm_CharacterCostKaiInput">基本消費気 (改壱)</label>
      <p-inputNumber
        inputId="NewCharacterForm_CharacterCostKaiInput"
        name="NewCharacterForm_CharacterCostKaiInput"
        [(ngModel)]="characterCost_kai"
        mode="decimal"
        [showButtons]="true"
        [min]="0"
        [max]="99"
      >
      </p-inputNumber>
    </div>
  </div>

  <!---->
  <!-- CV & Illustrator -->
  <!---->
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="NewCharacterForm_VoiceActorInput">キャラクターボイス</label>
      <p-autoComplete
        inputId="NewCharacterForm_VoiceActorInput"
        name="NewCharacterForm_VoiceActorInput"
        [(ngModel)]="inputVoiceActor.name"
        [suggestions]="suggestVoiceActorNames"
        (completeMethod)="onAutofillInputChange($event)"
        [minLength]="1"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showClear]="true"
      ></p-autoComplete>
    </div>
    <div class="field col-12 md:col-6">
      <label for="NewCharacterForm_IllustratorInput">イラストレーター</label>
      <p-autoComplete
        inputId="NewCharacterForm_IllustratorInput"
        name="NewCharacterForm_IllustratorInput"
        [(ngModel)]="inputIllustrator.name"
        [suggestions]="suggestIllustratorNames"
        (completeMethod)="onAutofillInputChange($event)"
        [minLength]="1"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showClear]="true"
      ></p-autoComplete>
    </div>
  </div>

  <!---->
  <!-- Motif weapon -->
  <!---->
  <div class="formgrid grid p-fluid">
    <div class="field col">
      <label for="NewCharacterForm_MotifWeaponInput">モチーフ武器</label>
      <p-chips
        inputId="NewCharacterForm_MotifWeaponInput"
        name="NewCharacterForm_MotifWeaponInput"
        [(ngModel)]="inputMotifWeapons"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!---->
  <!-- Motif facility -->
  <!---->
  <div class="formgrid grid p-fluid">
    <div class="field col">
      <label for="NewCharacterForm_MotifFacilityInput">モチーフ施設</label>
      <p-chips
        inputId="NewCharacterForm_MotifFacilityInput"
        name="NewCharacterForm_MotifFacilityInput"
        [(ngModel)]="inputMotifFacilities"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!---->
  <!-- Character tag -->
  <!---->
  <div class="formgrid grid">
    <div class="field col p-fluid">
      <label for="NewCharacterForm_CharacterTagInput">タグ</label>
      <p-chips
        inputId="NewCharacterForm_CharacterTagInput"
        name="NewCharacterForm_CharacterTagInput"
        [(ngModel)]="inputCharacterTags"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!------------------------------------------------------------------------->
  <!-- Ability -------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="p-formgrid grid">
    <div class="field col">
      <p-divider align="center"><span>特技 / 計略</span></p-divider>
    </div>
  </div>

  <div>
    <div class="formgrid grid" *ngFor="let item of selectedAbilityTypes; trackBy: trackByItem; let i = index">
      <div class="col" [style]="{ 'margin-bottom': '1rem' }">
        <p-card>
          <div class="formgrid grid">
            <div class="field col-12 md:col-6" [style]="{ 'margin-top': '2px' }">
              <label [for]="'NewCharacterForm_AbilityNameInput_' + i">名前</label>
              <p-autoComplete
                [inputId]="'NewCharacterForm_AbilityNameInput_' + i"
                [name]="'NewCharacterForm_AbilityNameInput_' + i"
                [(ngModel)]="inputAbilities[i].name"
                [suggestions]="suggestAbilityNames[i]"
                (completeMethod)="onAutofillInputChange($event)"
                (onSelect)="onAutofillInputSelect($event, 'NewCharacterForm_AbilityNameInput_' + i)"
                (onClear)="inputAbilities[i].isExisting = false"
                [minLength]="1"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                [showClear]="true"
              ></p-autoComplete>
            </div>
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_AbilityTypeInput_' + i">特技/計略タイプ</label>
              <p-dropdown
                [id]="'NewCharacterForm_AbilityTypeInput_' + i"
                [name]="'NewCharacterForm_AbilityTypeInput_' + i"
                [options]="abilityTypes"
                optionLabel="name"
                [(ngModel)]="selectedAbilityTypes[i]"
                [style]="{ width: '100%' }"
                [disabled]="inputAbilities[i].isExisting"
              ></p-dropdown>
            </div>
          </div>
          <div class="formgrid grid p-fluid" *ngIf="selectedAbilityTypes[i].name === '計略'">
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_KeiryakuIntervalInput_' + i">使用間隔</label>
              <p-inputNumber
                [inputId]="'NewCharacterForm_KeiryakuIntervalInput_' + i"
                [name]="'NewCharacterForm_KeiryakuIntervalInput_' + i"
                [(ngModel)]="inputAbilities[i].keiryakuInterval"
                mode="decimal"
                [showButtons]="true"
                suffix="秒"
                [min]="0"
                [max]="255"
                [disabled]="inputAbilities[i].isExisting"
              >
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_KeiryakuCostInput_' + i">消費気</label>
              <p-inputNumber
                [inputId]="'NewCharacterForm_KeiryakuCostInput_' + i"
                [name]="'NewCharacterForm_KeiryakuCostInput_' + i"
                [(ngModel)]="inputAbilities[i].keiryakuCost"
                mode="decimal"
                [showButtons]="true"
                [min]="0"
                [max]="99"
                [disabled]="inputAbilities[i].isExisting"
              >
              </p-inputNumber>
            </div>
          </div>
          <div class="formgrid grid" *ngIf="selectedAbilityTypes[i].name === '計略'">
            <div class="field col">
              <label>トークン</label>
              <div class="formgroup-inline">
                <div class="field-checkbox">
                  <p-radioButton
                    [inputId]="'NewCharacterForm_HasTokenInput_' + i + '_false'"
                    [name]="'NewCharacterForm_HasTokenInput' + i"
                    [value]="false"
                    [(ngModel)]="inputAbilities[i].tokenAvailable"
                    [disabled]="inputAbilities[i].isExisting"
                  ></p-radioButton>
                  <label [for]="'NewCharacterForm_HasTokenInput_' + i + '_false'">なし</label>
                </div>
                <div class="field-checkbox">
                  <p-radioButton
                    [inputId]="'NewCharacterForm_HasTokenInput_' + i + '_true'"
                    [name]="'NewCharacterForm_HasTokenInput_' + i"
                    [value]="true"
                    [(ngModel)]="inputAbilities[i].tokenAvailable"
                    [disabled]="inputAbilities[i].isExisting"
                  ></p-radioButton>
                  <label [for]="'NewCharacterForm_HasTokenInput_' + i + '_true'">あり</label>
                </div>
                <div class="field-checkbox">
                  <p-checkbox
                    [inputId]="'NewCharacterForm_TokenLayoutInput_' + i + '_0'"
                    [name]="'NewCharacterForm_TokenLayoutInput_' + i"
                    value="赤"
                    [(ngModel)]="inputAbilities[i].tokenLayouts"
                    [disabled]="inputAbilities[i].isExisting || !inputAbilities[i].tokenAvailable"
                  ></p-checkbox>
                  <label [for]="'NewCharacterForm_TokenLayoutInput_' + i + '_0'">赤配置</label>
                </div>
                <div class="field-checkbox">
                  <p-checkbox
                    [inputId]="'NewCharacterForm_TokenLayoutInput_' + i + '_1'"
                    [name]="'NewCharacterForm_TokenLayoutInput_' + i"
                    value="青"
                    [(ngModel)]="inputAbilities[i].tokenLayouts"
                    [disabled]="inputAbilities[i].isExisting || !inputAbilities[i].tokenAvailable"
                  ></p-checkbox>
                  <label [for]="'NewCharacterForm_TokenLayoutInput_' + i + '_1'">青配置</label>
                </div>
              </div>
            </div>
          </div>
          <div class="formgid grid">
            <div class="col" style="min-width: 300px">
              <label>説明</label>
              <div *ngFor="let desc of inputAbilities[i].descriptions; trackBy: trackByItem; let j = index">
                <span class="p-input-icon-right" [style]="{ width: '100%' }">
                  <i *ngIf="inputAbilities[i].descriptions[j] !== ''" class="pi pi-times" (click)="inputAbilities[i].descriptions[j] = ''"></i>
                  <input
                    type="text"
                    [id]="'NewCharacterForm_AbilityDescriptionInput_' + i + '_' + j"
                    [name]="'NewCharacterForm_AbilityDescriptionInput_' + i + '_' + j"
                    [(ngModel)]="inputAbilities[i].descriptions[j]"
                    pInputText
                    [style]="{ width: '100%', 'margin-bottom': '2px' }"
                    [disabled]="inputAbilities[i].isExisting"
                  />
                </span>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-fix" [style]="{ width: '50px', 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-danger p-button-outlined"
          (click)="onRemoveButtonoClick(false, i)"
        ></button>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      label="追加"
      class="p-button-outlined p-button-rounded"
      (click)="onAddAbilityButtonClick(false)"
    ></button>
  </div>

  <!---->
  <!-- 特技/計略カード (改壱) -->
  <!---->
  <div class="p-formgrid grid">
    <div class="field col">
      <p-divider align="center"><span>特技 / 計略 (改壱)</span></p-divider>
    </div>
  </div>

  <div>
    <div class="formgrid grid" *ngFor="let item of selectedAbilityTypes_kai; trackBy: trackByItem; let i = index">
      <div class="col" [style]="{ 'margin-bottom': '1rem' }">
        <p-card>
          <div class="formgrid grid">
            <div class="field col-12 md:col-6" [style]="{ 'margin-top': '2px' }">
              <label [for]="'NewCharacterForm_AbilityNameKaiInput_' + i">名前</label>
              <p-autoComplete
                [inputId]="'NewCharacterForm_AbilityNameKaiInput_' + i"
                [name]="'NewCharacterForm_AbilityNameKaiInput_' + i"
                [(ngModel)]="inputAbilities_kai[i].name"
                [suggestions]="suggestAbilityNames_kai[i]"
                (completeMethod)="onAutofillInputChange($event)"
                (onSelect)="onAutofillInputSelect($event, 'NewCharacterForm_AbilityNameKaiInput_' + i)"
                (onClear)="inputAbilities_kai[i].isExisting = false"
                [minLength]="1"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                [showClear]="true"
              ></p-autoComplete>
            </div>
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_AbilityTypeKaiInput_' + i">特技/計略タイプ</label>
              <p-dropdown
                [id]="'NewCharacterForm_AbilityTypeKaiInput_' + i"
                [name]="'NewCharacterForm_AbilityTypeKaiInput_' + i"
                [options]="abilityTypes"
                optionLabel="name"
                [(ngModel)]="selectedAbilityTypes_kai[i]"
                [style]="{ width: '100%' }"
                [disabled]="inputAbilities_kai[i].isExisting"
              ></p-dropdown>
            </div>
          </div>
          <div class="formgrid grid p-fluid" *ngIf="selectedAbilityTypes_kai[i].name === '計略'">
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_KeiryakuIntervalKaiInput_' + i">使用間隔</label>
              <p-inputNumber
                [inputId]="'NewCharacterForm_KeiryakuIntervalKaiInput_' + i"
                [name]="'NewCharacterForm_KeiryakuIntervalKaiInput_' + i"
                [(ngModel)]="inputAbilities_kai[i].keiryakuInterval"
                mode="decimal"
                [showButtons]="true"
                suffix="秒"
                [min]="0"
                [max]="255"
                [disabled]="inputAbilities_kai[i].isExisting"
              >
              </p-inputNumber>
            </div>
            <div class="field col-12 md:col-6">
              <label [for]="'NewCharacterForm_KeiryakuCostKaiInput_' + i">消費気</label>
              <p-inputNumber
                [inputId]="'NewCharacterForm_KeiryakuCostKaiInput_' + i"
                [name]="'NewCharacterForm_KeiryakuCostKaiInput_' + i"
                [(ngModel)]="inputAbilities_kai[i].keiryakuCost"
                mode="decimal"
                [showButtons]="true"
                [min]="0"
                [max]="99"
                [disabled]="inputAbilities_kai[i].isExisting"
              >
              </p-inputNumber>
            </div>
          </div>
          <div class="formgrid grid" *ngIf="selectedAbilityTypes_kai[i].name === '計略'">
            <div class="field col">
              <label>トークン</label>
              <div class="formgroup-inline">
                <div class="field-checkbox">
                  <p-radioButton
                    [inputId]="'NewCharacterForm_HasTokenKaiInput_' + i + '_false'"
                    [name]="'NewCharacterForm_HasTokenKaiInput' + i"
                    [value]="false"
                    [(ngModel)]="inputAbilities_kai[i].tokenAvailable"
                    [disabled]="inputAbilities_kai[i].isExisting"
                  ></p-radioButton>
                  <label [for]="'NewCharacterForm_HasTokenKaiInput_' + i + '_false'">なし</label>
                </div>
                <div class="field-checkbox">
                  <p-radioButton
                    [inputId]="'NewCharacterForm_HasTokenKaiInput_' + i + '_true'"
                    [name]="'NewCharacterForm_HasTokenKaiInput_' + i"
                    [value]="true"
                    [(ngModel)]="inputAbilities_kai[i].tokenAvailable"
                    [disabled]="inputAbilities_kai[i].isExisting"
                  ></p-radioButton>
                  <label [for]="'NewCharacterForm_HasTokenKaiInput_' + i + '_true'">あり</label>
                </div>
                <div class="field-checkbox">
                  <p-checkbox
                    [inputId]="'NewCharacterForm_TokenLayoutKaiInput_' + i + '_0'"
                    [name]="'NewCharacterForm_TokenLayoutKaiInput_' + i"
                    value="赤"
                    [(ngModel)]="inputAbilities_kai[i].tokenLayouts"
                    [disabled]="inputAbilities_kai[i].isExisting || !inputAbilities_kai[i].tokenAvailable"
                  ></p-checkbox>
                  <label [for]="'NewCharacterForm_TokenLayoutKaiInput_' + i + '_0'">赤配置</label>
                </div>
                <div class="field-checkbox">
                  <p-checkbox
                    [inputId]="'NewCharacterForm_TokenLayoutKaiInput_' + i + '_1'"
                    [name]="'NewCharacterForm_TokenLayoutKaiInput_' + i"
                    value="青"
                    [(ngModel)]="inputAbilities_kai[i].tokenLayouts"
                    [disabled]="inputAbilities_kai[i].isExisting || !inputAbilities_kai[i].tokenAvailable"
                  ></p-checkbox>
                  <label [for]="'NewCharacterForm_TokenLayoutKaiInput_' + i + '_1'">青配置</label>
                </div>
              </div>
            </div>
          </div>
          <div class="formgid grid">
            <div class="col" style="min-width: 300px">
              <label>説明</label>
              <div *ngFor="let desc of inputAbilities_kai[i].descriptions; trackBy: trackByItem; let j = index">
                <span class="p-input-icon-right" [style]="{ width: '100%' }">
                  <i *ngIf="inputAbilities_kai[i].descriptions[j] !== ''" class="pi pi-times" (click)="inputAbilities_kai[i].descriptions[j] = ''"></i>
                  <input
                    type="text"
                    [id]="'NewCharacterForm_AbilityDescriptionKaiInput_' + i + '_' + j"
                    [name]="'NewCharacterForm_AbilityDescriptionKaiInput_' + i + '_' + j"
                    [(ngModel)]="inputAbilities_kai[i].descriptions[j]"
                    pInputText
                    [style]="{ width: '100%', 'margin-bottom': '2px' }"
                    [disabled]="inputAbilities_kai[i].isExisting"
                  />
                </span>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-fix" [style]="{ width: '50px', 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          class="p-button-rounded p-button-danger p-button-outlined"
          (click)="onRemoveButtonoClick(true, i)"
        ></button>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      label="追加"
      class="p-button-outlined p-button-rounded"
      (click)="onAddAbilityButtonClick(true)"
    ></button>
  </div>

  <!-- Shiromusume Image File. -->
  <p-divider align="center"><span>画像登録</span></p-divider>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="城娘" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="御嬢" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="特技" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="大破" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>
  <button pButton pRipple type="button" icon="pi pi-image" label="サムネイル作成" class="p-button-outlined p-button-rounded"></button>

  <!-- Shiromusume Image File. -->
  <p-divider align="center"><span>画像登録 (改壱)</span></p-divider>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="城娘" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <button type="button" pButton label="御嬢" class="p-button-rounded p-button-outlined" [disabled]="true"></button>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" [disabled]="true"></button>
      </div>
    </div>
  </div>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="特技" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="大破" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer -->
  <!---->
  <p-button [label]="okLabel" icon="pi pi-check" (onClick)="onOkClick()" [styleClass]="buttonStyleClass"></p-button>
  <p-button
    [label]="cancelLabel"
    icon="pi pi-times"
    [style]="{ 'margin-left': '.5rem' }"
    (onClick)="onCancelClick()"
    [styleClass]="'p-button-secondary ' + buttonStyleClass"
  ></p-button>
</form>

<!----------------------------------------------------------------------------->
<!-- DIALOGS ------------------------------------------------------------------>
<!----------------------------------------------------------------------------->
<!-- New Weapon Form Dialog -->
<p-dialog
  header="未登録の武器です。必須情報を入力してください。"
  [(visible)]="showWeaponForm"
  [modal]="true"
  [style]="{ width: '50%' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-new-weapon-form
    [mode]="weaponFormMode"
    [weapons]="weapons"
    [weaponTypes]="weaponTypes"
    [initialWeaponName]="initialWeaponName"
    [okLabel]="'ＯＫ'"
    [cancelLabel]="'キャンセル'"
    [buttonStyleClass]="'p-button-text'"
    (formResult)="onNewWeaponDialogResult($event)"
  ></app-new-weapon-form>
</p-dialog>

<!-- New Facility Form Dialog -->
<p-dialog
  header="未登録の施設です。必須情報を入力してください。"
  [(visible)]="showFacilityForm"
  [modal]="true"
  [style]="{ width: '50%' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-new-facility-form
    [mode]="facilityFormMode"
    [facilities]="facilities"
    [facilityTypes]="facilityTypes"
    [initialFacilityName]="initialFacilityName"
    [okLabel]="'ＯＫ'"
    [cancelLabel]="'キャンセル'"
    [buttonStyleClass]="'p-button-text'"
    (formResult)="onNewFacilityFormResult($event)"
  ></app-new-facility-form>
</p-dialog>
