<form [style]="{ 'min-width': minWidth + 100 + 'px', 'margin-bottom': '1rem' }">
  <!------------------------------------------------------------------------->
  <!-- BASIC INFORMATION ---------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <p-divider align="center"><span>基本情報</span></p-divider>
    </div>
  </div>

  <!---->
  <!-- Character type & name -->
  <!---->
  <div class="formGrid grid p-fluid" style="margin-bottom: 1rem">
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_CharacterTypeInput">キャラクタータイプ</label>
      <p-dropdown
        id="NewCharacterForm_CharacterTypeInput"
        name="NewCharacterForm_CharacterTypeInput"
        [(ngModel)]="selectedCharacterType"
        [options]="characterTypeItems"
        optionLabel="longName"
        [style]="{ width: '100%' }"
        (onChange)="onCharacterTypeChanged()"
      ></p-dropdown>
    </div>
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_CharacterNameInput">名前</label>
      <span class="p-input-icon-right" [style]="{ width: '100%', 'margin-top': '2px' }">
        <i *ngIf="inputCharacterName !== ''" class="pi pi-times" (click)="inputCharacterName = ''"></i>
        <input
          type="text"
          id="NewCharacterForm_CharacterNameInput"
          name="NewCharacterForm_CharacterNameInput"
          [(ngModel)]="inputCharacterName"
          pInputText
          [required]="true"
          [style]="{ width: '100%' }"
        />
      </span>
    </div>
  </div>

  <!---->
  <!-- Character rarerity -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>レアリティ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of rarerityItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_RarerityInput_' + item.toString()"
            name="NewCharacterForm_RarerityInput_"
            [value]="item"
            [(ngModel)]="selectedRarerity"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_RarerityInput_' + item.toString()">★{{ item }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Weapon type -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>武器タイプ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of weaponTypeItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_WeaponTypeInput_' + item.name"
            name="NewCharacterForm_WeaponTypeInput"
            [value]="item"
            [(ngModel)]="selectedWeaponType"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_WeaponTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Geograph type -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>地形属性</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of geographTypeItems" class="field-checkbox">
          <p-checkbox
            [inputId]="'NewCharacterForm_GeographTypeInput_' + item.name"
            name="NewCharacterForm_GeographTypeInput"
            [value]="item"
            [(ngModel)]="selectedGeographTypes"
          ></p-checkbox>
          <label [for]="'NewCharacterForm_GeographTypeInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Region -->
  <!---->
  <div class="formGrid grid p-fluid" *ngIf="selectedCharacterType.regions">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>地域</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of regionItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewCharacterForm_RegionInput_' + item.name"
            name="NewCharacterForm_RegionInput"
            [value]="item"
            [(ngModel)]="selectedRegion"
          ></p-radioButton>
          <label [for]="'NewCharacterForm_RegionInput_' + item.name">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!---->
  <!-- Character cost & kai -->
  <!---->
  <div class="formGrid grid p-fluid" *ngIf="!selectedCharacterType.isCostCalcEnable">
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_CharacterCostInput">基本消費気</label>
      <div>
        <p-inputNumber
          inputId="NewCharacterForm_CharacterCostInput"
          name="NewCharacterForm_CharacterCostInput"
          [(ngModel)]="characterCost"
          mode="decimal"
          [showButtons]="true"
          [min]="0"
          [max]="99"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_CharacterCostKaiInput" *ngIf="selectedCharacterType.isKaichikuEnable">基本消費気 (改壱)</label>
      <div *ngIf="selectedCharacterType.isKaichikuEnable">
        <p-inputNumber
          inputId="NewCharacterForm_CharacterCostKaiInput"
          name="NewCharacterForm_CharacterCostKaiInput"
          [(ngModel)]="characterCost_kai"
          mode="decimal"
          [showButtons]="true"
          [min]="0"
          [max]="99"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <!---->
  <!-- CV & Illustrator -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_VoiceActorInput">キャラクターボイス</label>
      <p-autoComplete
        inputId="NewCharacterForm_VoiceActorInput"
        name="NewCharacterForm_VoiceActorInput"
        [(ngModel)]="inputVoiceActor.name"
        [suggestions]="filteredVoiceActors"
        field="name"
        (completeMethod)="onAutofillInputChange($event)"
        [minLength]="1"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-autoComplete>
    </div>
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewCharacterForm_IllustratorInput">イラストレーター</label>
      <p-autoComplete
        inputId="NewCharacterForm_IllustratorInput"
        name="NewCharacterForm_IllustratorInput"
        [(ngModel)]="inputIllustrator.name"
        [suggestions]="filteredIllustrators"
        field="name"
        (completeMethod)="onAutofillInputChange($event)"
        [minLength]="1"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-autoComplete>
    </div>
  </div>

  <!---->
  <!-- Motif weapon -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label for="NewCharacterForm_MotifWeaponInput">モチーフ武器</label>
      <p-chips
        inputId="NewCharacterForm_MotifWeaponInput"
        name="NewCharacterForm_MotifWeaponInput"
        [(ngModel)]="inputMotifWeapons"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!---->
  <!-- Motif facility -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label for="NewCharacterForm_MotifFacilityInput">モチーフ施設</label>
      <p-chips
        inputId="NewCharacterForm_MotifFacilityInput"
        name="NewCharacterForm_MotifFacilityInput"
        [(ngModel)]="inputMotifFacilities"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!---->
  <!-- Character tag -->
  <!---->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label for="NewCharacterForm_CharacterTagInput">タグ</label>
      <p-chips
        inputId="NewCharacterForm_CharacterTagInput"
        name="NewCharacterForm_CharacterTagInput"
        [(ngModel)]="inputCharacterTags"
        (onAdd)="onChipInputAdd($event)"
      ></p-chips>
    </div>
  </div>

  <!------------------------------------------------------------------------->
  <!-- 特技/計略 ------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <p-divider align="center"><span>特技 / 計略</span></p-divider>
    </div>
  </div>

  <div>
    <div class="formGrid grid p-fluid">
      <div class="col">
        <p-card>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>特技/計略タイプ</label>
            </div>
            <div class="col" style="min-width: 300px">
              <label>名前</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>使用間隔</label>
            </div>
            <div class="col" style="min-width: 300px">
              <label>消費気</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>トークン配置マス</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>効果</label>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-fix" [style]="{ width: '50px', 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <button pButton pRipple type="button" icon="pi pi-plus" label="追加" class="p-button-outlined p-button-rounded"></button>
  </div>

  <!---->
  <!-- 特技/計略カード (改壱) -->
  <!---->
  <p-divider align="center"><span>特技 / 計略 (改壱)</span></p-divider>
  <div>
    <div class="formGrid grid p-fluid">
      <div class="col">
        <p-card>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>特技/計略タイプ</label>
            </div>
            <div class="col" style="min-width: 300px">
              <label>名前</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>使用間隔</label>
            </div>
            <div class="col" style="min-width: 300px">
              <label>消費気</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>トークン配置マス</label>
            </div>
          </div>
          <div class="formGrid grid p-fluid">
            <div class="col" style="min-width: 300px">
              <label>効果</label>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-fix" [style]="{ width: '50px', 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <button pButton pRipple type="button" icon="pi pi-plus" label="追加" class="p-button-outlined p-button-rounded"></button>
  </div>

  <!-- Shiromusume Image File. -->
  <p-divider align="center"><span>画像登録</span></p-divider>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="城娘" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="御嬢" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="特技" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="大破" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>
  <button pButton pRipple type="button" icon="pi pi-image" label="サムネイル作成" class="p-button-outlined p-button-rounded"></button>

  <!-- Shiromusume Image File. -->
  <p-divider align="center"><span>画像登録 (改壱)</span></p-divider>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="城娘" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <button type="button" pButton label="御嬢" class="p-button-rounded p-button-outlined" [disabled]="true"></button>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" [disabled]="true"></button>
      </div>
    </div>
  </div>
  <div class="formGrid grid p-fluid">
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="特技" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
    <div class="col" style="min-width: 300px">
      <label for="shiromusumeImage" pButton label="大破" class="p-button-rounded p-button-outlined">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" />
      </label>
      <div>
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
      <div [style]="{ 'justify-content': 'center', 'align-items': 'center', display: 'flex' }">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer -->
  <!---->
  <p-divider></p-divider>
  <ng-template pTemplate="footer">
    <p-button label="入力内容確認" icon="pi pi-check"></p-button>
    <p-button label="キャンセル" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5rem' }"></p-button>
  </ng-template>
</form>

<!----------------------------------------------------------------------------->
<!-- DIALOGS ------------------------------------------------------------------>
<!----------------------------------------------------------------------------->
<!-- New Weapon Form Dialog -->
<p-dialog
  header="未登録の武器です。必須情報を入力してください。"
  [(visible)]="showWeaponForm"
  [modal]="true"
  [style]="{ width: '50%' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-new-weapon-form
    [mode]="weaponFormMode"
    [weapons]="weapons"
    [weaponTypes]="weaponTypes"
    [initialWeaponName]="initialWeaponName"
    [okLabel]="'ＯＫ'"
    [cancelLabel]="'キャンセル'"
    [buttonStyleClass]="'p-button-text'"
    (formResult)="onNewWeaponDialogResult($event)"
  ></app-new-weapon-form>
</p-dialog>

<!-- New Facility Form Dialog -->
<p-dialog
  header="未登録の施設です。必須情報を入力してください。"
  [(visible)]="showFacilityForm"
  [modal]="true"
  [style]="{ width: '50%' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-new-facility-form
    [mode]="facilityFormMode"
    [facilities]="facilities"
    [facilityTypes]="facilityTypes"
    [initialFacilityName]="initialFacilityName"
    [okLabel]="'ＯＫ'"
    [cancelLabel]="'キャンセル'"
    [buttonStyleClass]="'p-button-text'"
    (formResult)="onNewFacilityFormResult($event)"
  ></app-new-facility-form>
</p-dialog>
