<div class="tool-bar-body">
  <div>
    <img src="../../../../../assets/icon_home.png" style="vertical-align: middle" />
    <span class="title h2">{{ appInfo.title }} {{ appInfo.subTitle }} </span>
  </div>
  <div>
    <p-button icon="pi pi-user" class="left-button" [disabled]="!signedIn"></p-button>
    <p-button *ngIf="signedIn" icon="pi pi-sign-out" class="right-button" (onClick)="requestSignOut()"></p-button>
    <p-button *ngIf="!signedIn" icon="pi pi-sign-in" class="right-button"></p-button>
  </div>
</div>
