.left-button {
  margin-right: 0.5rem;
}

.middle-button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.right-button {
  margin-left: 0.5rem;
}

.title {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
