.main-body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  //  overflow: hidden;
}

.tool-bar {
  //  background-color: #ffa0a0;
}

.tool-bar-m {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto;

  .side-menu {
    padding: 0; // vertical horizontal.
    overflow-y: auto;
  }

  .main-contents {
    flex-grow: 1;
    padding: 0.5rem 1rem; // vertical horizontal.
    overflow-y: auto;
    background-color: #ff4040;
  }
}

@media screen and (max-width: 959px) {
  .tool-bar {
    display: none;
  }

  .tool-bar-m {
    display: block;
  }

  .side-menu {
    display: none;
  }
}
