$too-bar-height: 5rem;

//$foooter-height: 1.5rem;

.tool-bar {
  height: $too-bar-height;
}

.container {
  display: flex;
  height: calc(100vh - $too-bar-height /*- $foooter-height*/);

  .content {
    width: 80vw;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: auto;
    background-color: cyan;
  }
}

//.footer {
//  height: $foooter-height;
//  text-align: center;
//}
