<p-confirmDialog header="Confirmation" icon="pi pi-question-circle" [style]="{ width: '50vw' }"></p-confirmDialog>
<div class="tool-bar">
  <app-top-menu
    [title]="appInfo.title"
    [isSignedIn]="isSignedIn"
    (toggleSideMenuEvent)="toggleSideMenu()"
    (requestSignOutEvent)="askSignOut()"
  ></app-top-menu>
</div>
<div class="container">
  <app-side-menu [isOpen]="isSideMenuOpen"></app-side-menu>
  <div class="content">
    <button pButton label="trigger animation" (click)="toggleSideMenu()"></button>
    <p>くぁｗせｄｒｆｔｇｙふじこｌｐ</p>
  </div>
</div>
<div class="footer"></div>
