<h3>新規キャラクター登録</h3>
<form [formGroup]="newCharacterForm" (ngSubmit)="submit()">
  <div class="field grid">
    <label for="characterTypeDD" class="col-fixed" style="width: 200px">Character Type:</label>
    <div class="col">
      <p-dropdown
        id="characterTypeDD"
        [options]="characterTypeItems"
        optionLabel="name"
        formControlName="characterType"
        placeholder="Select a character type."
        [style]="{ width: '300px' }"
        [showClear]="true"
        [(ngModel)]="selectedCharacterType"
      ></p-dropdown>
    </div>
  </div>
  <div class="field grid">
    <label for="rarerityDD" class="col-fixed" style="width: 200px">Rarerity:</label>
    <div class="col">
      <p-dropdown
        id="rarerityDD"
        [options]="rarerityItems"
        optionLabel="name"
        formControlName="rarerity"
        placeholder="Select a rarerity."
        [style]="{ width: '300px' }"
        [showClear]="true"
        [(ngModel)]="selectedRarerity"
      ></p-dropdown>
    </div>
  </div>
  <button pButton label="Submit"></button>
</form>
