<h3>新規キャラクター登録</h3>
<div>
  <span class="p-float-label">
    <p-dropdown
      inputId="dropdown"
      [autoDisplayFirst]="false"
      [options]="characterTypes2"
      [(ngModel)]="value"
      optionLabel="name"
      [style]="{ width: '300px' }"
    ></p-dropdown>
    <label for="dropdown">Character Type</label>
  </span>
</div>
<div *ngIf="value">
  <h5>Selected Character Type:</h5>
  <p>ID: {{ value.id }}</p>
  <p>Index: {{ value.index }}</p>
  <p>Order: {{ value.order }}</p>
  <p>Name: {{ value.name }}</p>
</div>
