<h3>新規キャラクター登録</h3>

<!----------------------------------------------------------------------------->
<!-- New character form ------------------------------------------------------->
<!----------------------------------------------------------------------------->
<app-new-character-form
  [maxWidth]="'800px'"
  [okLabel]="'入力内容確認'"
  [cancelLabel]="'キャンセル'"
  [characterTypes]="characterTypes"
  [characterTags]="characterTags"
  [weaponTypes]="weaponTypes"
  [geographTypes]="geographTypes"
  [regions]="regions"
  [voiceActors]="voiceActors"
  [illustrators]="illustrators"
  [weapons]="weapons"
  [facilities]="facilities"
  [facilityTypes]="facilityTypes"
  [abilityTypes]="abilityTypes"
  [abilities]="abilities"
  (formResult)="onNewCharacterFormResult($event)"
></app-new-character-form>

<!----------------------------------------------------------------------------->
<!-- Confirmation dialog ------------------------------------------------------>
<!----------------------------------------------------------------------------->
<p-dialog
  header="入力内容を確認してください。"
  [(visible)]="showConfirmationDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-new-character-confirmation
    *ngIf="newCharacterFormResult"
    okLabel="ＯＫ"
    cancelLabel="キャンセル"
    buttonStyleClass="p-button-text"
    [character]="newCharacterFormResult"
    (confirmationResult)="onNewCharacterConfirmResult($event)"
  ></app-new-character-confirmation>
</p-dialog>

<!--<form #newCharacterForm="ngForm" (ngSubmit)="submit()">
  <div class="field grid">
    <label class="col-fixed" style="width: 200px">Images:</label>
    <div class="col">
      <label for="shiromusumeImage" pButton label="Shiromusume">
        <input type="file" id="shiromusumeImage" [style]="{ display: 'none' }" (change)="onFileChange('shiromusumeImage', $event)" />
      </label>
      <p-button icon="pi pi-times" (click)="clearFile('shiromusumeImage')"></p-button>
      <div *ngIf="shiromusumeFile">
        <canvas #shiromusumePreview style="max-width: 300px"></canvas>
      </div>
    </div>
  </div>

  <button pButton type="button" label="Confirm" [disabled]="!newCharacterForm.form.valid" (click)="showDialog()"></button>
</form>-->

<!-- Confirm Dialog -->
<!--
<p-dialog header="Please confirm input values." [(visible)]="isDialogShow" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-0">
    Caracter Type: {{ 
      selectedCharacterType?.longName }}<br />
    Character Name: {{ inputName }} <br />
    Rarerity: {{ selectedRarerity }}<br />
    Weapon Type: {{ selectedWeaponType?.name }} <br />
    Geograph Type: {{ selectedGeographTypes[0]?.name }} <span *ngIf="selectedGeographTypes[1]">, {{ selectedGeographTypes[1].name }}</span
    ><br />
    <span *ngIf="shiromusumeFile">Shiromusume Image: {{ shiromusumeFile.name }}</span>
  </p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="hideDialog()" label="Ok" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="hideDialog()" label="Cancel" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
-->
