.tool-bar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tool-bar-icon {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}
