.tool-bar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.left-button {
  margin-right: 0.5rem;
}

.middle-button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.right-button {
  margin-left: 0.5rem;
}
