.tool-bar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-button {
  margin-right: 0.5rem;
}

.middle-button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.right-button {
  margin-left: 0.5rem;
}

.tool-bar-icon {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}
