<form style="min-width: 400px; margin-bottom: 1rem">
  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label for="characterTypeInput">武器種</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of weaponTypes" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewWeaponForm_WeaponTypeInput_' + item.name"
            name="NewWeaponForm_WeaponTypeInput"
            [value]="item"
            [(ngModel)]="selectedType"
          ></p-radioButton>
          <label [for]="'NewWeaponForm_WeaponTypeInput_' + item.id">{{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label for="NewWeaponForm_WeaponNameInput">名前</label>
      <span class="p-input-icon-right" [style]="{ width: '100%' }">
        <i *ngIf="inputName !== ''" class="pi pi-times" (click)="inputName = ''"></i>
        <input
          type="text"
          id="NewWeaponForm_WeaponNameInput"
          name="NewWeaponForm_WeaponNameInput"
          [(ngModel)]="inputName"
          pInputText
          [style]="{ width: '100%' }"
          (change)="onNameInputChange()"
        />
      </span>
      <div class="text-sm text-red-600" *ngIf="errorMessage !== ''">{{ errorMessage }}</div>
    </div>
  </div>

  <div class="formGrid grid p-fluid">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>レアリティ</label>
      <div class="formgroup-inline">
        <div *ngFor="let item of rarerityItems" class="field-checkbox">
          <p-radioButton
            [inputId]="'NewWeaponForm_RarerityInput_' + item.toString()"
            name="NewWeaponForm_RarerityInput"
            [value]="item"
            [(ngModel)]="selectedRarerity"
          ></p-radioButton>
          <label [for]="item">★{{ item }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="formGrid grid p-fluid" *ngIf="mode === normalMode">
    <div class="col" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewWeaponForm_AttackInput">攻撃</label>
      <div>
        <p-inputNumber
          inputId="NewWeaponForm_AttackInput"
          name="NewWeaponForm_AttackInput"
          [(ngModel)]="inputAttack"
          mode="decimal"
          [showButtons]="true"
          [min]="0"
          [max]="255"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="col" *ngIf="selectedRarerity === 4" [style]="{ 'min-width': minWidth / 2 + 'px', 'max-width': maxWidth / 2 + 'px' }">
      <label for="NewWeaponForm_AttackInputKai">攻撃［改］</label>
      <div>
        <p-inputNumber
          inputId="NewWeaponForm_AttackInputKai"
          name="NewWeaponForm_AttackInputKai"
          [(ngModel)]="inputAttack_kai"
          mode="decimal"
          [showButtons]="true"
          [min]="0"
          [max]="255"
        >
        </p-inputNumber>
      </div>
    </div>
  </div>

  <div class="formGrid grid p-fluid" *ngIf="mode === normalMode">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>説明テキスト</label>
      <div *ngFor="let desc of inputDescriptions; trackBy: trackByItem; let i = index">
        <span class="p-input-icon-right" [style]="{ width: '100%' }">
          <i *ngIf="inputDescriptions[i] !== ''" class="pi pi-times" (click)="inputDescriptions[i] = ''"></i>
          <input
            type="text"
            [id]="'NewWeaponForm_DescriptionInput_' + i"
            [name]="'NewWeaponForm_DescriptionInput_' + i"
            [(ngModel)]="inputDescriptions[i]"
            pInputText
            [style]="{ width: '100%', 'margin-bottom': '2px' }"
          />
        </span>
      </div>
    </div>
  </div>

  <div class="formGrid grid p-fluid" *ngIf="mode === normalMode">
    <div class="col" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>効果</label>
      <div *ngFor="let desc of inputEffects; trackBy: trackByItem; let i = index">
        <span class="p-input-icon-right" [style]="{ width: '100%' }">
          <i *ngIf="inputEffects[i] !== ''" class="pi pi-times" (click)="inputEffects[i] = ''"></i>
          <input
            type="text"
            [id]="'NewWeaponForm_EffectInput_' + i"
            [name]="'NewWeaponForm_EffectInput_' + i"
            [(ngModel)]="inputEffects[i]"
            pInputText
            [style]="{ width: '100%', 'margin-bottom': '2px' }"
          />
        </span>
      </div>
    </div>
  </div>

  <div class="formGrid grid p-fluid" *ngIf="mode === normalMode">
    <div class="col" *ngIf="selectedRarerity === 4" [style]="{ 'min-width': minWidth + 'px', 'max-width': maxWidth + 'px' }">
      <label>効果［改］</label>
      <div *ngFor="let desc of inputEffects_kai; trackBy: trackByItem; let i = index">
        <span class="p-input-icon-right" [style]="{ width: '100%' }">
          <i *ngIf="inputEffects_kai[i] !== ''" class="pi pi-times" (click)="inputEffects_kai[i] = ''"></i>
          <input
            type="text"
            [id]="'NewWeaponForm_EffectInputKai_' + i"
            [name]="'NewWeaponForm_EffectInputKai_' + i"
            [(ngModel)]="inputEffects_kai[i]"
            pInputText
            [style]="{ width: '100%', 'margin-bottom': '2px' }"
          />
        </span>
      </div>
    </div>
  </div>

  <!---->
  <!-- Footer -->
  <!---->
  <p-divider></p-divider>
  <p-button
    [label]="okLabel"
    icon="pi pi-check"
    [disabled]="!selectedType || inputName === '' || errorMessage !== '' || !selectedRarerity"
    (click)="onOkClick()"
    [styleClass]="buttonStyleClass"
  ></p-button>
  <p-button
    [label]="cancelLabel"
    icon="pi pi-times"
    [style]="{ 'margin-left': '.5rem' }"
    (click)="onCancelClick()"
    [styleClass]="'p-button-secondary ' + buttonStyleClass"
  ></p-button>
</form>
