<div class="flex flex-row gap-4">
  <div class="flex">
    <canvas id="MakeThumbnailImage_Preview"></canvas>
  </div>
  <div class="flex flex-column justify-content-between">
    <div class="p-fluid">
      <label for="MakeThumbnailImage_ImageScaleInput">スケール</label>
      <p-inputNumber
        inputId="MakeThumbnailImage_ImageScaleInput"
        name="MakeThumbnailImage_ImageScaleInput"
        [(ngModel)]="imageScale"
        mode="decimal"
        [showButtons]="true"
        suffix="%"
        [min]="10"
        [max]="100"
        [step]="5"
        (onInput)="onImageScaleInputChange($event)"
      >
      </p-inputNumber>
    </div>
    <div class="flex flex-row">
      <p-button [label]="okLabel" icon="pi pi-check" (onClick)="onOkClick()" [styleClass]="buttonStyleClass"></p-button>
      <p-button
        [label]="cancelLabel"
        icon="pi pi-times"
        [style]="{ 'margin-left': '.5rem' }"
        (onClick)="onCancelClick()"
        [styleClass]="'p-button-secondary ' + buttonStyleClass"
      ></p-button>
    </div>
  </div>
</div>
