html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
}

.h1 {
  font-size: xx-large;
  font-weight: 100;
}

.h2 {
  font-size: x-large;
  font-weight: 100;
}
